/admin_screen.png
/attendence_screen.png
/course_management_screen.png
/course_registration_screen.png
/exam_screen.png
/fee_screen.png
/login_screen.png
/profile_screen.png
/student_dashboard_screen.png